body{
	background-color: #f4f4f4;
}
.header {
	display: inline-block;
	height: 140px;
	width: 100%;
	background-color: #19762b;
	float: left;
	clear: left;
}

.header .container-fluid h1.title {
	height: 80px;
	width: auto;
	font-size: 2.75em;
	color: #FFF;
	text-align: center;
	margin: 10px;
}
.header .container-fluid h1 a{
	text-align: center;
	color: #FFF;
	text-decoration: none;
}

.header .nav.nav-pills{
	background-color: #006714;
}
.header .nav.nav-pills li{
	height: 40px;
	width:33.3%;
	margin-left: 0;
	text-align: center;
}

.header .nav.nav-pills li a{
	color: #FFF
}

.section {
	float: left;
	clear: left;
	width: 100%;
	min-height: 600px;
	height: auto;
	margin-top: 20px;
}
.section h1{
	text-align: center;
}
.section.projects .proj img{
	margin-top: 20px;
}
.section.projects .proj .hackrpipic{
	width: 280px;
	height: 300px;
}

.section .projects .proj .treehousepic{
	width: 300px;
	height: 200px;
}

.footer{
	float: left;
	clear: left;
	height: 100px;
	width: 100%;
	text-align: center;
	background-color: #c9c8c8;

}
.footer img {
	width: 64px;
	height: 64px;
	float: center;
}

@media screen and  (min-width: 781px){
	.header {
		height: 100px;
	}
	.header .container-fluid h1.title{
		width: 200px;
		float: left;
	}
	.header .container-fluid h1.title a{
		width: 200px;
		float: left;
	}

	.header .nav.nav-pills {
		margin-top: 50px;
		float: right;
		padding: 0 20px;
		padding-right: 0;
		background-color: inherit;
	}
	.header .nav.nav-pills li{
		height: 50px;
		width:122px;
		margin-left: 0;
		text-align: center;
		float: left;
		margin-left: 20px;
	}
	.header .nav.nav-pills li a{
		height: auto;
	}

	.section.projects .head {
		height: 100px;
	}

	.section.projects .head ul.proj{

		width: 70%;
		display: inline-block;
		margin: 10px 15%;
		background-color: inherit;
	}
	.section.projects .head ul.proj li{
		color: black;
	}

	.section.projects .row .list{
		text-align: center;
	}
	.section.projects .row .list a{
		display: inline-block;
		width: 100%;
		height: 300px;
	}

	.section.projects .projects{ 
		text-align: center;
		height: auto;
		width: auto;
	}
	.section.projects .projects .row.project {
		height: 400px;
		text-align: center;
		padding-bottom: 30px;
	}
	.section .row.project:nth-child(even){
		background-color: #dbdada;
	}
	.section.projects .row .proj{
		display: inline-block;
		float: center;
		height: inherit;
		text-align: left;
	}
	.section.projects .row .second{
		vertical-align: top;
	}
}
