
body{
	background-color: #f4f4f4;
}

.header {
	height: 100px;
	width: 100%;
	display: inline-block;
	background-color: #19762b;
	float: left;
	clear: left;
}

.header .title {
	height: 80px;
	width: 200px;
	display: inline-block;
	float: left;
	font-size: 2.75em;
	color: #FFF;
	margin: 10px;
	text-align: center;
}

.header .container-fluid h1 a{
	text-align: left;
	color: #FFF;
	text-decoration: none;
}

.header .nav.nav-pills {
	margin-top: 50px;
	float: right;
	padding: 0 20px;
	padding-right: 0;
	background-color: inherit;
}
.header .nav.nav-pills li{
	height: 50px;
	width:122px;
	margin-left: 0;
	text-align: center;
	float: left;
	margin-left: 20px;
    transition-duration: .3;
        
}
.header .nav.nav-pills li a{
	color: #FFF
}	

.section {
	float: left;
	clear: left;
	width: 100%;
	min-height: 600px;
	height: auto;
	margin-top: 20px;
}
.section h1{
	text-align: center;
}
.section.projects .proj img{
	margin-top: 20px;
}
.section.projects .proj .hackrpipic{
	width: 280px;
	height: 300px;
}

.section .projects .proj .treehousepic{
	width: 250px;
	height: 175;
}

.footer{
	float: left;
	clear: left;
	height: 100px;
	width: 100%;
	text-align: center;
	background-color: #c9c8c8;

}
.footer img {
	width: 64px;
	height: 64px;
	float: center;
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
    text-align: center;
}
.section.projects .head {
	height: 100px;
}
.section.projects .projects{ 
	text-align: center;
	height: auto;
	width: auto;
}
.section.projects .project {
	height: 400px;
	width: 100%;
	text-align: center;
	padding-bottom: 30px;
}
.section .project:nth-child(even){
	background-color: #dbdada;
}
.section.projects .project .proj{
	display: inline-block;
	float: center;
	height: inherit;
	min-width: 350px;
	width:30%;
	text-align: left;
}
.section.projects .proj.second{
	vertical-align: top;
}

@media screen and (max-width: 800px){

	.header {
		height: 140px;
	}
	.header .title{
		text-align: center;
		width: auto;
		float: center;
		display: block;
	}
	.header ul.nav.nav-pills{
		display: inline-block;
		float: center;
		width: 90%;
		margin: 0 5%;
		background-color: #006714;
		padding-left: 0;
		margin-top: 0;
	}
	.header .nav.nav-pills li{
		height: 40px;
		width:33.3%;
		margin-left: 0;
		text-align: center;
	}
	.section.projects .project .proj{
		min-width: 300px;

	}

	/* FIX AT 680 */

}
